.timer-text {
  font-size: 6em;
  font-family: 'Share Tech Mono', monospace;
  font-variant-numeric: tabular-nums;
  letter-spacing: 1px;
}

.timer-text--waiting {
  color: red;
}

.timer-text--ready {
  color: green;
  transition: 0s;
  transform: scale(1.3);
}

.timer-text--running {
  transform: scale(1.3);
}

.timer-text--stopped {
  transition: transform 0.35s ease-out;
}

/* TIMESLIST */
.times-list-container {
  padding: 0 !important;
}
.times-list-inner-container {
  padding: 0 var(--main-padding);
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black calc(var(--main-padding) + 5px),
    black calc(100% - var(--main-padding) - 5px),
    transparent 100%
    );
}

.times-list-scroll-container {
  max-height: 230px;
  overflow-y: auto;
  scrollbar-width: none;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}

.times-list-element {
  display: block;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 3px 10px;
  min-width: 50px;
  cursor: pointer;
}
.times-list-element:hover {
  border-color: var(--highlight-color);
}
.times-list-element-container {
  gap: 4px;
  display: flex;
  flex-direction: column;
}



/* SESSION DISPLAY */
.session-display-container {
  bottom: var(--main-padding);
  left: 50%;
  transform: translate(round(-50%, 1px), 0);
  position: absolute; 
}

.session-dropdown {
  margin-left: 10px;
  width: auto;
}

.scramble {
  top: 0;
  margin-top: var(--main-padding);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.3em;
}

#cube-display div[style*="background-color"] {
  margin: 1px !important;
  border-radius: 1px !important;
}

#cube-display div[style*="background-color: red"] {
  background-color: var(--cube-red) !important;
}

#cube-display div[style*="background-color: blue"] {
  background-color: var(--cube-blue) !important;
}

#cube-display div[style*="background-color: yellow"] {
  background-color: var(--cube-yellow) !important;
}

#cube-display div[style*="background-color: green"] {
  background-color: var(--cube-green) !important;
}

#cube-display div[style*="background-color: white"] {
  background-color: var(--cube-white) !important;
}

#cube-display div[style*="background-color: orange"] {
  background-color: var(--cube-orange) !important;
}

/* POPUP */
.new-session-popup-buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.times-popup-content {
  text-align: left;
  min-width: 300px;
}

.times-popup-content .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.times-popup-content .heading {
  font-weight: bold;
  font-size: 0.8em;
}


.times-popup-buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}


.times-stats {
  min-width: 100px;
}

.times-stats-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.session-popup-content {
  text-align: left;
}

.session-popup-content .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.session-popup-content .heading {
  font-weight: bold;
  font-size: 0.8em;
}






