.timer-text {
  font-size: 4em;
}

.timer-text--waiting {
  color: red;
}

.timer-text--ready {
  color: green;
  transition: 0s;
  transform: scale(1.3);
}

.timer-text--running {
  transform: scale(1.3);
}

.timer-text--stopped {
  transition: transform 0.35s ease-out;
}


.times-list-container {
  bottom: var(--main-padding);
  left: var(--main-padding);
  position: fixed;
  padding: 0 !important;
}

.times-list-inner-container {
  padding: 0 var(--main-padding);
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black calc(var(--main-padding) + 5px),
    black calc(100% - var(--main-padding) - 5px),
    transparent 100%
    );
}



.times-list-scroll-container {
  max-height: 230px;
  overflow-y: auto;
  scrollbar-width: none;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}

.times-list-element {
  display: block;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 3px 10px;
  min-width: 50px;
  cursor: pointer;
}
.times-list-element:hover {
  border-color: var(--highlight-color);
}
.times-list-element-container {
  gap: 4px;
  display: flex;
  flex-direction: column;
}

.session-display-container {
  bottom: var(--main-padding);
  left: 50%;
  transform: translate(round(-50%, 1px), 0);
  position: absolute; 
}

.session-dropdown {
  margin-left: 10px;
  width: auto;
}

.scramble {
  top: 0;
  margin-top: var(--main-padding);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.3em;
}

.rubiks-display {
  position: absolute;
  margin: var(--main-padding);
  bottom: 0;
  right: 0;
}

#cube-display div[style*="background-color"] {
  margin: 1px !important;
  border-radius: 1px !important;
}


.new-session-popup-buttons {
  display: flex;
  justify-content: space-between;
}
