.timer-text {
  font-size: 4em;
}

.timer-text--waiting {
  color: red;
}

.timer-text--ready {
  color: green;
  transition: 0s;
  transform: scale(1.3);
}

.timer-text--running {
  transform: scale(1.3);
}

.timer-text--stopped {
  transition: transform 0.35s ease-out;
}


.times-list-container {
  bottom: var(--main-padding);
  left: var(--main-padding);
  position: fixed;
}

.times-list-scroll-container {
  max-height: 230px;
  overflow-y: auto;
  scrollbar-width: none;
}

.top-fade {
  position: absolute;
  box-sizing: border-box;
  margin: var(--main-padding);
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: linear-gradient(to top, transparent, var(--bg-color));
  pointer-events: none; 
}

.bottom-fade {
  position: absolute;
  box-sizing: border-box;
  margin: var(--main-padding);
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  /* background-color: red; */
  pointer-events: none; 
}

.times-list-element {
  display: block;
  border: 1px solid #c4c4c444;
  border-radius: var(--border-radius);
  padding: 3px 10px;
  margin: 4px 0px;
  min-width: 50px;
  /* box-shadow: 1px 1px 2px rgba(0,0,0); */
}

.session-display-container {
  bottom: var(--main-padding);
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute; 
}

.session-dropdown {
  margin-left: 10px;
  width: auto;
}

.scramble {
  top: 0;
  margin-top: var(--main-padding);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.3em;
}

.rubiks-display {
  position: absolute;
  margin: var(--main-padding);
  bottom: 0;
  right: 0;
}

#cube-display div[style*="background-color"] {
	margin: 1px !important;
	border-radius: 1px !important;
}
