.forum-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--main-padding);
}

.thread-view-container {
  display: flex;
  flex-direction: column;
  width: min(800px, 100%);
  gap: 20px;
}

.createThread-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.threadblock-information-container {
  display: flex;
  justify-content: space-between;
}

.threadblock-container {
  text-align: left;
  cursor: pointer;
  transition: var(--default-transition-time);
}

.threadblock-container:hover {
  scale: 105%;
}

.threadpage-post-container {
  padding: var(--main-padding);
  transition-duration: var(--default-transition-time);
  border-radius: var(--border-radius);
}

.threadpage-post-container:hover {
  background-color: color-mix(in srgb, var(--bg-color), white 5%);
}

.threadpage-post-container:hover .hidden {
  display: block;
}

.threadpage-input-post-container {
  margin-top: var(--main-padding);
  text-align: right;
}

.threadpage-input-post-container button {
  width: 100px;
}
