#timer {
	font-family: 'Share Tech Mono';
	font-size: 5em;
}

.table-wrapper {
	overflow: auto;
	max-height: 25vh;
	scrollbar-width: none;
}

.session-dropdown {
	min-width: 200px;
}

.list-group-item .btn-group {
	opacity: 0;
}

.list-group-item:hover .btn-group {
	opacity: 1;
}
