#timer {
	font-family: 'Share Tech Mono';
	font-size: 5em;
}

.table-wrapper {
	overflow: auto;
	max-height: 25vh;
	scrollbar-width: none;
}

.session-dropdown {
	min-width: 200px;
}

.dropdown-item .btn-group {
	opacity: 0;
	transition: opacity 0.1s ease;
}

.dropdown-item:hover .btn-group {
	opacity: 1;
}

.background-timer {
	opacity: 0;
	transition: opacity 0.3s ease;
	pointer-events: none;
}

.background-timer.show {
	opacity: 1;
}
