.dropdown-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.text:hover {
  color: var(--highlight-color);
}

.dropdown {
  position: absolute;
  right: calc(var(--main-padding) * -1);
  bottom: calc(100% + var(--main-padding));
  margin-bottom: 4px;
  padding: 5px !important;
  z-index: 10;
}

.option {
  display: block;
  box-sizing: border-box;
  width: 100%;
  background: transparent;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  white-space: nowrap;
  padding: 5px 7px;
}
.option:hover {
  border-color: var(--highlight-color);
}

.arrow {
  margin-left: 7px;
  font-size: 1em;
  display: inline-block;
  transition: transform 0.3s ease;
}

.arrow-flipped {
  transform: rotate(180deg)
}

