.toast-container {
  z-index: 10;
  bottom: var(--main-padding);
  left: var(--main-padding);
  right: var(--main-padding);
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}

.toast {
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  border: var(--border-default);

  max-width: 500px;
  padding: var(--main-padding);
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.12),
    0 12px 32px rgba(0, 0, 0, 0.18);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toast button {
  padding: 4px 10px;
  margin: 0;
  background: none;
}

.toast-success {
  border-color: green;
}

.toast-error {
  border-color: red;
}
