#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
select {
  background-color: transparent;
}
select option {
  background-color: var(--bg-color);
}

input {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 3px;
}

.popout-container {
  padding: var(--main-padding);
  border-radius: var(--border-radius);

  background: linear-gradient(
    rgba(255,255,255,0.2),
    rgba(255,255,255,0.1)
    );
  backdrop-filter: blur(14px) saturate(1.2);
  border: 1px solid var(--border-color);
  box-shadow: 0 8px 32px rgba(0,0,0,0.12);
}

.bold {
  font-weight: 800;
}

.button-danger:hover {
  border-color: red;

}

