#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
select {
  background-color: transparent;
}
select option {
  background-color: var(--bg-color);
}
.dropdown {
  border: none;
  /* background-color: var(--bg-color); */
  font: inherit;
  color: lightblue;
}

.popout-container {
  padding: var(--main-padding);
  /* border: 1px solid #c4c4c444; */
  border-radius: var(--border-radius);
  /* box-shadow: 1px 1px 2px rgba(0,0,0); */


  background: linear-gradient(
    rgba(255,255,255,0.2),
    rgba(255,255,255,0.1)
    );
  backdrop-filter: blur(14px) saturate(1.2);
  border: 1px solid rgba(255,255,255,0.25);
  box-shadow: 0 8px 32px rgba(0,0,0,0.12);
}

